-# %link{"rel" => "icon", "href" => "http://www.fundiveurope.eu/favicon.ico", "type" => "image/x-icon"}

.pl-3.pr-3.pt-2
  = image_tag 'header-logo-smon.png', class: 'pull-right rounded mx-auto d-block img-fluid w-100'
