-# %link{"rel" => "icon", "href" => "http://www.fundiveurope.eu/favicon.ico", "type" => "image/x-icon"}

.pt-4.pb-4
  = image_tag 'header-logo-smon.png', class: 'pull-right rounded mx-auto d-block img-fluid'
