%h2 Welcome to the BEFdata portal.

%p
  The data portal is a data management tool set up for workshop projects. sMon
  is a two-year Synthesis Project of the German Centre for Integrative
  Biodiversity Research (iDiv) Halle-Jena-Leipzig. We aim at combining and
  harmonizing exemplary datasets of different taxa and habitats and to evaluate
  the potentials and limits for analysing changes in the state of biodiversity in
  Germany. Based on these insights, we will derive perspective for future
  biodiversity monitoring programs in Germany.

  This data portal has been set up to allow for an easy and comprehensive
  documentation of datasets created in the workshops of the sMon Project. Data
  can be uploaded and exchanged during the workshops, but usage rights are
  restricted to registered persons and access to data will only be granted upon
  authorization by the dataset owner.
