// head

// image in head
-# = link_to image_tag('header-logo.png')

// BEF-China cooperate design
-# %h2.font-weight-bold.text-nowrap
  -# %font{color: "darkgray"} AG
  -# %span{style: "color: #9BC34B"}> G
  -# %font{color: "gray"} eobotany
  -# %span{style: "color: "}> W
  -# %font{color: "gray"} eigelt

%h2.font-weight-bold.text-nowrap
  %font{color: "gray"} AG-
  %span{style: "color: #9BC34B"}>G
  %font{color: "darkgray"} eobotany
  %span{style: "color: ""#2D7AAB"}> H
  %font{color: "darkgray"} alle


// separator
%p.head-separator
  %hr.header-footer.separator-lightgray
  %hr.header-footer.separator-halle-green
  %hr.header-footer.separator-halle-blue
