/ head

// title
- page_title "Create data"


/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      New: Dataset

// form
.div.pl-2
  .div.pb-3.pt-3
    = render partial: "form_for_metadata"

/ functions

// enable correct menu tab
:javascript
  $(document).ready(function() {
    $('#navigation_datasets_path').find('.nav-item').addClass('active');
  });
