:plain
  $("#dataset_download_tabs").html("#{j(render partial: 'datasets/dataset_download_tabs', locals: { dataset: @dataset, exported_excel: @exported_excel, exported_csv: @exported_csv, exported_scc_csv: @exported_scc_csv})}");
