:plain
  $("#datacolumns").html("#{j(render partial: 'datacolumns/datacolumns', locals: { datacolumns: @datacolumns })}");
  $("#dataset_sidebar").html("#{j(render partial: 'datasets/sidebar', locals: { dataset: @dataset })}");
