/ select input
.role.pb-2
  = select_tag "roles[][project_id]", options_for_select(all_projects_for_select, selected: role[:project_id]), class: "project_id"
  %span As
  = select_tag "roles[][role_name]", options_for_select(all_project_roles, selected: role[:role_name]), class: "role_name"
  .remove_button.btn.btn-sm.btn-outline-danger
    = fa_icon('trash', text: "Remove Project")

/ scripts

// init select pickers
:javascript
  $(function () {
    $('select').selectpicker({
      liveSearch: true
    });

    $('.remove_button').click(function() {
        $(this).closest('.role').remove();
    });

  });
