-#%link{"rel" => "icon", "href" => "http://www.fundiveurope.eu/favicon.ico", "type" => "image/x-icon"}

%title FunDivEUROPE | Functional significance of forest biodiversity in Europe

= image_tag 'header-logo-fundiv.png', class: 'pull-right rounded mx-auto d-block img-fluid w-100'
