/ header

// title
- page_title "Create new project"

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      New: Project

// partial for projects form
.div.pl-2
  .div.pb-3.pt-3
    = render partial: "form_for_project", locals: { roles: [ { name: :pi, id: [] }, { name: "phd student", id: [] }] }
