/ head

// title
- page_title "Keywords"

/ body

// heading
.div.pb-2.pl-2
  .font-weight-bold
    .text-muted.font-weight-bold
      %i.fas.fa-angle-double-right{style: 'vertical-align: middle;'}
      Index: keywords


// sidebar
= show_to :admin, :data_admin do
  = link_to manage_keywords_path, class: 'button' do
    = image_tag 'edit.png'
    Manage keywords

- @tags.each do |tag|
  = link_to tag.name, keyword_path(tag)
