// body
.div.pl-1.pr-1.pt-2
  %h3
    Welcome

  %p
    .text-justify

      This service hosts all the data that we as a working group are
      collectingl across a wide variety of
      = link_to "projects.", "https://biologie.lw.uni-leipzig.de/en/institut/ag/systematic-botany-and-functional-biodiversity/research/"
      The portal makes it
      available to researchers as well as the interested public. The data
      portal contains student works from bachelor to doctoral degree, servicing
      as data management and backup solution for the

      = link_to "working group", "https://biologie.lw.uni-leipzig.de/en/institut/ag/systematic-botany-and-functional-biodiversity/"


