// body
.div.pl-1.pr-1.pt-2
  %h3
    Welcome

  %p
    .pb-4
      .text-justify
        This is the data management portal of the working group Wirth/Weigelt:
        "Systematic Botany and Functional Biodiversity" at the University of Leipzig.
        This portal hosts all of the
        = link_to "working group's", "https://biologie.lw.uni-leipzig.de/en/institut/ag/systematic-botany-and-functional-biodiversity/"
        collected data across a wide variety of
        = link_to "projects.", "https://biologie.lw.uni-leipzig.de/en/institut/ag/systematic-botany-and-functional-biodiversity/research/"
        The data portal contains documentation of student works from bachelor to
        doctoral degree, serves as backup solution for our data, but also makes the collected
        data in our group available to other researchers and a wider interested
        public for a better transparency.

  %p
    .pb-4
      = image_tag 'group_wirth.jpg', class: 'rounded mx-auto d-block border shadow-lg'

  %p
    Feel free to browse the data and read into the metadata and get in contact
    with us if you are interested in a collaboration. You find the contact in the legal
    information.
